        <div ng-app="myApp.intCustomerView" ng-controller="customerController">
            <br>
            <br>
            <br>
            <div><h1>Customer List</h1></div>
<!--
            <div class="alert alert-info">
                <div>Sort By: {{sortBy}}</div>
                <div>Descending: {{sortDescending}}</div>
                <div>Search Text: {{searchText}}</div>
            </div>
-->
            <div><button type="button" class="btn pull-right btn-xs" ng-click="insertCustomer()">New</button></div>
            <br>
            <br>
            <div class="input-group">
                <input type="text" ng-model="searchText" class="form-control" placeholder="Search csi" >
                <span class="input-group-addon" id="basic-addon1">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
            <table class="table table-hover">
                <tr class="alert-success">
                    <th>
                        <a ng-click="sortBy = 'Id'; sortDescending = !sortDescending">ID</a>
                        <span ng-show="sortBy == 'Id' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortBy == 'Id' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'CustomerCode'; sortDescending = !sortDescending">Customer code</a>
                        <span ng-show="sortBy == 'CustomerCode' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortBy == 'CustomerCode' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'CustomerName'; sortDescending = !sortDescending">Customer name</a>
                        <span ng-show="sortBy == 'CustomerName' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortBy == 'CustomerName' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>
                        <a ng-click="sortBy = 'CustomerEmail'; sortDescending = !sortDescending">Email (default))</a>
                        <span ng-show="sortBy == 'CustomerEmail' && !sortDescending" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sortBy == 'CustomerEmail' && sortDescending" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th></th>
                </tr>

                <tr class="animate" data-ng-repeat="customer in customers | filter: searchText | orderBy:sortBy:sortDescending" >
                    <td ng-bind="customer.Id"></td>
                    <td ng-bind="customer.CustomerCode"></td>
                    <td><a ng-href="#!/extCsiView/?id={{customer.Id}}" ng-bind="customer.CustomerName"></a></td>
                    <td ng-bind="customer.CustomerEmail"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs" ng-click="copyCustomer(customer)">Copy</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="updateCustomer(customer)">Edit</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="deleteCustomer(customer)">Del.</button>
                    </td>
                </tr>
            </table>
        </div>
