<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div data-ng-app="myApp" data-ng-controller="homeViewController as vm">
      <div class="container">
          <img alt="Brand" src="assets/img/Sogeti-liten.png" class="img-responsive">
          <br>
<!--          <h3>Please login or register new user</h3>-->
              <form class="navbar-form navbar-left">
                  <div class="form-group" >
                      <input type="text" placeholder="email" class="form-control"
                             data-ng-model="vm.loginUserData.userName">
                  </div>
                  <div class="form-group">
                      <input type="password" placeholder="password" class="form-control"
                             data-ng-model="vm.loginUserData.password">
                  </div>
                  <input type="button" id="logniUser" value="Sign in" data-ng-click="vm.loginUser()" class="btn btn-success"/>
                  <br><br>
                  <a class="btn btn-primary btn" href="#!/registerView" role="button">Register &raquo;</a>
              </form>
          <div>
            <span data-ng-show="vm.isRegistered">User Registered Successfully</span><br />
            <span data-ng-show="vm.isLoggedIn">Hello : {{vm.userName}}</span><br />
            <span data-ng-show="vm.isLoggedIn">Your Bearer Token is : {{vm.bearerToken}}</span>
          </div>
      </div>
  </div>
</div>
Only for test>>>
<a class="btn btn-primary btn" href="#!/extCustomerView" role="button">External &raquo;</a>
<a class="btn btn-primary btn" href="#!/intCustomerView" role="button">Internal &raquo;</a>
<br><br>

<div data-ng-app="myApp" data-ng-controller="homeViewController as vm">

    <span data-ng-hide="vm.isRegistered">Register</span>
    <div data-ng-hide="vm.isRegistered">
        <input type="text" name="email" placeholder="Email" data-ng-model="vm.registerUserData.email" />
        <input name="password" placeholder="Password" data-ng-model="vm.registerUserData.password" />
        <input name="confirmPassword" placeholder="Password" data-ng-model="vm.registerUserData.confirmPassword" />
        <input type="button" id="registerUser" value="Register" data-ng-click="vm.registerUser()" />
    </div>
</div>

