    <div class="container" style="padding-top:20px;">
        <div ng-app="csiApp" data-ng-controller="csiController" class="container">
            <div ng-show="error"  class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <p>{{ error }}</p>
            </div>

            <p><a data-ng-click="showadd()" href="javascript:;" class="btn btn-primary">Add New CSI</a></p>

            
            <h1>CSIs List</h1>
            <table class="table table-hover">
                <tr>
                    <th>CSI ID</th>
                    <th>Client name</th>
                    <th>Client email</th>
                    <th>Initiated by (client)</th>
                    <th>Account manager</th>
                    <th>Account manager email</th>
                    <td>Engagemeng</td>
                    <th>Project number</th>
                    <th>Delivery unit</th>
                    <th></th>
                </tr>

                <tr data-ng-repeat="csi in csis">
                    <td><strong>{{ csi.Id }}</strong></td>
                    <td>
                        <p>{{ csi.ClientName }}</p>
                    </td>                 
                    <td>
                        <p>{{ csi.ClientEmail }}</p>
                    </td>
                    <td>
                        <p>{{ csi.InitiatedByClient }}</p>
                    </td>
                    <td>
                        <p>{{ csi.AccountManagerName }}</p>
                    </td>                 
                    <td>
                        <p>{{ csi.AccountManagerEmail }}</p>
                    </td>                    
                    <td>
                        <p>{{ csi.Engagement }}</p>
                    </td>
                    <td>
                        <p>{{ csi.ProjektNumber }}</p>
                    </td>
                    <td>
                        <p>{{ csi.DeliveryUnit }}</p>
                    </td>
                    <td>
                        <p>
                            <a data-ng-click="get(csi)" href="javascript:;">View</a> |
                            <a data-ng-click="edit(csi)" href="javascript:;">Edit</a> |
                            <a data-ng-click="showconfirm(csi)" href="javascript:;">Delete</a>
                        </p>

                    </td>
                </tr>
            </table>
            <hr />

            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title" id="myModalLabel">View CSI</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="viewcsi">
                                <div class="form-group">
                                    <label for="Engagement" class="col-sm-2 control-label">Engagement</label>
                                    <div class="col-sm-10">
                                        {{csi.Engagement}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ProjectNumber" class="col-sm-2 control-label">Project number</label>
                                    <div class="col-sm-10">
                                        {{csi.ProjectNumber}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="DeliveryUnit" class="col-sm-2 control-label">Delivery Unit</label>
                                    <div class="col-sm-10">
                                        {{csi.DeliveryUnit}}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure to delete?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-ng-click="delete()">Ok</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>